<div class="container">
  <h1>Edit Page Teacher</h1>
  <label>fullName</label>
  <input class="form-control" type="text" [(ngModel)]=TeacherObject.fullName>
  <label>id</label>
  <input class="form-control" type="text" [(ngModel)]=TeacherObject.id> 
  <label>age</label>
  <input class="form-control" type="number" [(ngModel)]=TeacherObject.age>
   <label>city</label>
  <input class="form-control" type="text" [(ngModel)]=TeacherObject.city>
   <label>proffecy</label>
  <input class="form-control" type="text" [(ngModel)]=TeacherObject.proffecy>
   <label>HourSalary</label>
  <input class="form-control" type="number" [(ngModel)]=TeacherObject.salary_per_hour>
  <label>years_of_seniorty</label>
  <input class="form-control" type="number" [(ngModel)]=TeacherObject.years_of_seniorty>
  <label>change Pictutre</label>
  <input class="form-control" type="text" [(ngModel)]=TeacherObject.picture>
  </div>
   
  