<div class="container">
     <label>id</label>
     <input class="form-control" type="text" [(ngModel)]=PupilObject.id> 
     <label>fullName</label>
     <input class="form-control" type="text" [(ngModel)]=PupilObject.fullName>
     <label>age</label>
     <input class="form-control" type="number" [(ngModel)]=PupilObject.age>
     <label>city</label>
     <input class="form-control" type="text" [(ngModel)]=PupilObject.city>
     <label>picture</label>
     <input class="form-control" type="text" [(ngModel)]=PupilObject.picture>
     <label>grades</label>
     <div class="row" *ngFor="let i of PupilGrade">
         <div class="col">
             <label>grade</label>
             <input class="form-control" [(ngModel)]=i.grade>
         </div>
         <div class="col">
             <label>subject</label>
            <input class="form-control" [(ngModel)]=i.subject>
        </div>
        <div class="col">
            <button class="btn btn-danger" value={{i.subject}} (click)=removeGrade($event)>Remove</button>
       </div>
       <div  class="col">
        <button *ngIf="PupilGrade.length<3 " class="btn btn-success" (click)=addGrade()>Add</button>
        </div>
     </div>
     <label>Class</label>
     <div class="form-check" *ngFor="let class of ClassOfPupils|async">
         <input class="form-check-input" type="radio" value="{{class.id}}" name="classChoice" id="{{class.id}}" (click)=chooseClass($event) [checked]=WhichClass[class.id]>
         <label class="form-check-label">{{class.class_name}}</label>
     </div>
 
 </div>
     
    